# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Environment variables
.env

# Uploads & user files
static/uploads/
uploads/

# ML models (optional – keep local if large)
models/*.h5

# OS
.DS_Store
Thumbs.db

# Logs
*.log

